<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iconfont的使用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8117D4841D23963D00F00B0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8117D49D1D23963D00F00B0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8117D4A81D23963D00F00B0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
